<link rel="stylesheet" href="<%= url("~/css/api_reference.css") %>" />

<%- include('header') %>
<%- include('mobile_sidesmenu_header') %>

<div id="container">
    <%- include('left_api_menu') %>
    <div id="content">
        <article id="implementation-details">
            <h1>Implementation Details</h1>

            <div class="stage" id="implementation-stage-1">
                <h2>Implementation Stage 1</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>

            <div class="stage" id="implementation-stage-2">
                <h2>Implementation Stage 2</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>

            <div class="stage" id="implementation-stage-3">
                <h2>Implementation Stage 3</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>
        </article>
    </div>
    <div id="right-sidebar">
        <nav id="toc">
            <h3>Table of Contents</h3>
            <ul>
                <li>
                    <a href="#implementation-details"
                        >Implementation Details</a
                    >
                    <ul>
                        <li>
                            <a href="#implementation-stage-1"
                                >Implementation Stage 1</a
                            >
                        </li>
                        <li>
                            <a href="#implementation-stage-2"
                                >Implementation Stage 2</a
                            >
                        </li>
                        <li>
                            <a href="#implementation-stage-3"
                                >Implementation Stage 3</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<%- include('footer') %>

<script type="module" src="<%= url('~/js/toggleSideMenu.js'); %>"></script>