<link rel="stylesheet" href="<%= url("~/css/api_reference.css") %>" />

<%- include('header') %>
<%- include('mobile_sidesmenu_header') %>

<div id="container">
    <%- include('left_api_menu') %>
    <div id="content">
        <article id="api-documentation">
            <h1>API Documentation</h1>

            <div class="stage" id="api-endpoint-1">
                <h2>API Endpoint 1</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>

            <div class="stage" id="api-endpoint-2">
                <h2>API Endpoint 2</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>

            <div class="stage" id="api-endpoint-3">
                <h2>API Endpoint 3</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>
        </article>
    </div>
    <div id="right-sidebar">
        <nav id="toc">
            <h3>Table of Contents</h3>
            <ul>
                <li>
                    <a href="#api-documentation">API Documentation</a>
                    <ul>
                        <li>
                            <a href="#api-endpoint-1">API Endpoint 1</a>
                        </li>
                        <li>
                            <a href="#api-endpoint-2">API Endpoint 2</a>
                        </li>
                        <li>
                            <a href="#api-endpoint-3">API Endpoint 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<%- include('footer') %>
