<!DOCTYPE html>
<html lang="en" data-uri="<%- page.uri %>">
  <head>
    <meta charset="utf8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=0.86"
    />

    <%- page.head %>
  </head>
  <body>
    <% page.sections.forEach(function (section) { %>
    <section id="<%- section.name %>" data-page-uri="<%- section.uri %>">
      <%- section.content %>
    </section>
    <% }); %>

    <%- page.scripts %>
  </body>
</html>
