<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=0.86"
    />
    <title><%= appSettings.name %> Project</title>
    <link rel="icon" href="/favicon-32x32.png" type="image/x-icon">
    <style id="fonts">
      @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');
    </style>
    <style id="base-styles">
      <%# Inline normalised CSS styles using Vite'a feature. %>
      @import "<%= url("~/src/css/base.css"); %>";
    </style>
    <link rel="stylesheet" href="<%= url("~/src/css/homepage.css") %>" />
  </head>
  <body>
    <%- include('header') %>

    <main>
        <section class="hero">
            <div class="hero-inner">
                <div class="hero-inner-text">
                    <h1><%= appSettings.name %> Project</h1>
                    <p>
                        A brief introduction to the sample project, its main
                        features, and capabilities.
                    </p>
                    <a href="/guide">Get started</a>
                </div>
                <div class="hero-inner-img">
                    <img
                        src="<%= url("~/src/assets/project_image.jpg") %>"
                        alt="background image"
                    />
                </div>
            </div>
        </section>
        <section class="main-capabilities">
            <h2>Main Capabilities</h2>
            <div class="capabilitie-inner">
                <div class="item">
                    <img src="<%= url("~/src/assets/code_icon.svg") %>" alt="icon" />
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur.
                    </p>
                </div>
                <div class="item">
                    <img src="<%= url("~/src/assets/light_icon.svg") %>" alt="icon" />
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur.
                    </p>
                </div>
                <div class="item">
                    <img src="<%= url("~/src/assets/lightbulb_icon.svg") %>" alt="icon" />
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur.
                    </p>
                </div>
                <div class="item">
                    <img src="<%= url("~/src/assets/lightbulb_icon.svg") %>" alt="icon" />
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur.
                    </p>
                </div>
                <div class="item">
                    <img src="<%= url("~/src/assets/code_icon.svg") %>" alt="icon" />
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur.
                    </p>
                </div>
                <div class="item">
                    <img src="<%= url("~/src/assets/light_icon.svg") %>" alt="icon" />
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <%- include('footer') %>

    <script type="module" src="<%= url('~/src/js/base.js'); %>"></script>
  </body>
</html>
