<div id="right-sidebar">
    <div class="right-sidebar-mobileHeader">
        <button type="button" class="right-sidebar-close-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" id="closeRightSidebarButton" class="w-6 h-6 closeBtnMenu">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg> 
        </button>
    </div>
    <nav id="toc">
        <h3>Table of Contents</h3>
        <ul>
            <li>
                <a href="<%= titleUrl %>"><%= titleLabel %></a>
            </li>
            <ul class="innerList">
    					<%_ for (const { linkUrl, linkLabel } of links) { _%>
                <li>
                    <a href="<%= linkUrl %>"><%= linkLabel %></a>
                </li>
    					<%_ } _%>
            </ul>
        </ul>
    </nav>
    <% if (typeof editLink !== 'undefined') { %>
      <a
          class="edit-link"
          href="<%= editLink %>"
      >
     	  Edit
      </a>
    <% } %>
</div>
