<%
const rightSidebarDatas = [
  {
    titleUrl: '#implementation-details',
    titleLabel: 'Implementation Details',
    links: [
      { linkUrl: '#implementation-stage-1', linkLabel: 'Implementation Stage 1' },
      { linkUrl: '#implementation-stage-2', linkLabel: 'Implementation Stage 2' },
      { linkUrl: '#implementation-stage-3', linkLabel: 'Implementation Stage 3' },
    ]
  },
  {
    titleUrl: '#api-endpoints',
    titleLabel: 'API Endpoints',
    links: [
      { linkUrl: '#api-endpoint-1', linkLabel: 'API Endpoint 1' },
      { linkUrl: '#api-endpoint-2', linkLabel: 'API Endpoint 2' },
      { linkUrl: '#api-endpoint-3', linkLabel: 'API Endpoint 3' },
    ]
  },
  {
    titleUrl: '#configuration-options',
    titleLabel: 'Configuration Options',
    links: [
      { linkUrl: '#configuration-option-1', linkLabel: 'Configuration Option 1' },
      { linkUrl: '#configuration-option-2', linkLabel: 'Configuration Option 2' },
      { linkUrl: '#configuration-option-3', linkLabel: 'Configuration Option 3' },
      { linkUrl: '#example', linkLabel: 'Example' }
    ]
  }
];

let rightSidebarData;

if (page.url.endsWith('api_reference/index.html')) {
  rightSidebarData = rightSidebarDatas[0];
} else if (page.url.endsWith('api_reference/docs/index.html')) {
  rightSidebarData = rightSidebarDatas[1];
} else if (page.url.endsWith('api_reference/configuration/index.html')) {
  rightSidebarData = rightSidebarDatas[2];
}
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=0.86"
    />
    <title><%= appSettings.name %></title>
    <style id="fonts">
      @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');
    </style>
    <style id="base-styles">
      @import "/src/css/base.css";
    </style>
    <link rel="stylesheet" href="/src/css/api_reference.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="180x180"
      href="/favicon_180.png"
    />
  </head>
  <body>
    <%- include('header') %>
    <%- include('mobile_sidesmenu_header') %>

    <div id="container">
        <%- include('left_api_menu') %>

        <div id="content">
          <%- page.content %>
        </div>

        <%- include('api_right_sidebar', rightSidebarData) %>
    </div>

    <%- include('footer') %>

    <script type="module" src="/src/js/base.js"></script>
    <script type="module" src="/src/js/toggleSideMenu.js"></script>
  </body>
</html>
